@media screen and (min-width: 480px) {
    .container {
        max-width: 428px;
    }

/* ---------- HERO ---------- */

.hero-title {
    width: 320px;
    font-weight: 700;
    font-size: 36px;
}

}