@media screen and (min-width: 480px) {
    .container {
        max-width: 428px;
    }

/* ---------- HERO ---------- */

.hero-title {
    width: 320px;
    font-weight: 700;
    font-size: 36px;
}

/* ---------- FOOTER ---------- */

.footer-input {
    width: 398px;
}

/* ----------Modal Window---------- */

.modal {
    width: 408px;
    height: 576px;
}

/* ----------Modal Form---------- */

.modal-form-check-desc {
    font-size: 12px;
}
 
.contact-tel {
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
}
}