/* Цвет основного текста #434455 */
/* Вторичный цвет текста и кнопки #4D5AE5 */
/* Акцент при нажатии #404BBF */
/* Вторичный цвет  #2E2F42 */
/* Белый цвет #ffffff */
/* Цвет CLOUD #F4F4FD */
/* Цвет CORNFLOWER #e7e9fc */

:root {
  --primary-text-color: #434455;
  --title-text-color-and-background: #2e2f42;
  --accent-color: #404bbf;
  --secondary-text-color: #4d5ae5;
  --white-color: #ffffff;
  --color-cloud: #f4f4fd;
  --color-cornflower: #e7e9fc;
  --color-light-slate: #8E8F99;
  --color-green: #31D0AA;
  --color-dairy: #fcfcfc;
  --trans-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  background-color: var(--white-color);
  color: var(--primary-text-color);
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* ----------Header---------- */

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-menu {
  display: none;
  
}

.header-list {
  display: none;
}

.logo {
  margin-right: 76px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.first-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;

  color: var(--secondary-text-color);
}

.second-logo {
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--title-text-color-and-background);
}

.header {
  border-bottom: 1px solid var(--color-cornflower);
}

/* ----------Hero---------- */

.hero {
  text-align: center;

  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-mob.jpg);
  background-size: cover;
  max-width: 1440px;
  margin: auto;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-mob@2x.jpg);
  }
}

.hero-container {
  padding: 112px 54px;
}

.hero-title {
  width: 220px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 72px;

  font-weight: 500;
  font-size: 24px;
  line-height: 1.11;

  color: var(--white-color);
}

.hero-btn {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;

  padding: 16px 32px;
  border-radius: 4px;
  border: none;

  background-color: var(--secondary-text-color);
  color: var(--white-color);

  transition: background-color var(--trans-dur-and-func);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--accent-color);
}

/* ----------Section Advantages---------- */

.advantages {
  padding-top: 96px;
  padding-bottom: 96px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-icon-box {
  display: none;
}

.advantages-list-scroll:not(:last-child) {
  margin-bottom: 72px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;

  color: var(--title-text-color-and-background);
}

.advantages-text {
  color: var(--primary-text-color);
}

.advantages-title {
  margin-bottom: 8px;
}

.advantages-list {
  display: block;
}

/* ----------Section Actions---------- */

.actions {
  text-align: center;
  padding-bottom: 120px;

  display: none;
}

.actions-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.actions-photo {
  flex-basis: calc((100% - 48px) / 3);
}

/* ----------Section Team---------- */

.team {
  padding-top: 96px;
  padding-bottom: 128px;

  text-align: center;
  background-color: var(--color-cloud);
}

.employees {
  display: flex;
  flex-direction: column;    
  align-items: center;
  row-gap: 72px; 
}

.employees-cards {
  flex-basis: 100%;
}

.employees-cards-box {
  max-width: 264px;
  padding: 32px 16px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;

  background-color: var(--white-color);
}

.employees-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.second-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  margin-bottom: 72px;

  color: var(--title-text-color-and-background);
}

.speciality {
  margin-bottom: 8px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-list-item {
width: 40px;
height: 40px;
}

.social-list-link {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
border-radius: 50%;

background-color: var(--secondary-text-color);
color: var(--color-cloud);

transition: background-color var(--trans-dur-and-func);
}

.social-list-link:is(:hover, :focus) {
background-color: var(--accent-color);
}

.social-list-icon {
  fill: currentColor;
}

/* ----------Section Customers---------- */

.customers {
  padding-top: 96px;
  padding-bottom: 96px;
  text-align: center;
}

.customers-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 72px 16px;
}

.customers-list-item {
  flex-basis: calc((100% - 16px) / 2);

  max-width: 190px;
  height: 88px;
}

.customers-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  border: 1px solid var(--color-light-slate);
  border-radius: 4px;
  color: var(--color-light-slate);

  transition: border-color var(--trans-dur-and-func), color var(--trans-dur-and-func);
}

.customers-list-link:is(:hover, :focus) {
  border-color: var(--accent-color);
  color: var(--accent-color)
}

.first-logo {
  display: block;
  text-align: center;
}

.customers-list-icon {
  fill: currentColor;
}

/* ----------Section Footer---------- */

.footer {
  padding-top: 96px;
  padding-bottom: 96px;

  background-color: var(--title-text-color-and-background);
}

.second-logo-footer {
  color: var(--color-cloud);
}

.footer-text {
  width: 264px;
  margin-top: 16px;

  color: var(--color-cornflower);
}

.footer-box {
  display: flex;
  flex-direction: column;
    align-items: center;
    row-gap: 72px;
  
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-right {
  font-weight: 500;
  font-size: 16px;
color: var(--white-color);
}

.title-right {
  margin-bottom: 16px; 

  text-align: center;
}

.footer-list {
  display: flex;
  gap: 16px;
}

.footer-list-item {
  width: 40px;
  height: 40px;
}

.footer-list-link {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
border-radius: 50%;
background-color: rgba(255, 255, 255, 0.1);
color: var(--color-cloud);

transition: background-color var(--trans-dur-and-func);
}

.footer-list-link:is(:hover, :focus) {
  background-color: var(--color-green);
  }
  
.footer-list-icon {
    fill: currentColor;
  }

  .footer-form-title {
font-weight: 500;
margin-bottom: 16px;

color: var(--white-color);
  }


.footer-input {
width: 300px;
height: 40px;
outline: transparent;
padding: 16px 8px;

margin-bottom: 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
background-color: transparent;
color: var(--white-color);

transition: border-color var(--trans-dur-and-func);
}

.footer-input:focus {
  outline: none;
  border-color: var(--secondary-text-color);
}

.footer-input::placeholder {
  font-weight: 400;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;

color: rgba(255, 255, 255, 0.6);
}

.footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    color: var(--white-color);

    padding: 8px 24px;

    margin-right: auto;
    margin-left: auto;

    background: var(--secondary-text-color);
    border-radius: 4px;
    border: none;

    column-gap: 16px;

    transition: background-color var(--trans-dur-and-func);
  }

.footer-btn:is(:hover, :focus) {
  background-color: var(--accent-color);
}

.footer-icon-send {
  fill: currentColor;
}
  
/* ----------Section Portfolio---------- */

.portfolio {
  padding-top: 48px;
  padding-bottom: 48px;
}

.btn-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 24px;
  justify-content: left;
  margin-bottom: 72px;

  width: 270px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 48px;
}

.portfolio-cards-box {
  border: 1px solid var(--color-cornflower);
  border-top: none;
  padding: 32px 16px;
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;

  margin-bottom: 8px;

  color: var(--title-text-color-and-background);
}

.portfolio-text {
  color: var(--primary-text-color);
}

.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;

  border: 1px solid var(--color-cornflower);
  border-radius: 4px;
  padding: 8px 16px;

  background-color: var(--color-cloud);
  color: var(--secondary-text-color);

  transition: background-color var(--trans-dur-and-func), color var(--trans-dur-and-func), box-shadow var(--trans-dur-and-func), border-color var(--trans-dur-and-func);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: var(--accent-color);
}

.portfolio-link {
  display: block;

  transition: box-shadow var(--trans-dur-and-func);
}

.portfolio-link:is(:hover, :focus) {
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-list-img-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
position: absolute;
left: 0;
top: 0;

width: 100%;
height: 100%;

overflow: auto;

transform: translate(0, 100%);

  background-color: var(--secondary-text-color);
  color: var(--color-cloud);
  padding: 40px 32px 164px;

  transition: transform var(--trans-dur-and-func);
}

.portfolio-link:is(:hover, :focus) .overlay {
transform: translate(0, 0);
}




@media screen and (min-width: 320px) {

/* ----------Modal Window---------- */

  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    width: 100%;
    height: 100%;

    background-color: rgba(46, 47, 66, 0.4);

    transition: opacity var(--trans-dur-and-func), visibility var(--trans-dur-and-func), transform var(--trans-dur-and-func);
  }

  .backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    width: 310px;
    height: auto;

    background-color: var(--color-dairy);

    transition: transform var(--trans-dur-and-func);

    padding: 72px 24px 24px 24px;
  }

  .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
  }

  .close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    position: absolute;
    top: 24px;
    right: 24px;

    background-color: var(--color-cornflower);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    width: 24px;
    height: 24px;
    padding: 8px;

    transition: background-color var(--trans-dur-and-func), color var(--trans-dur-and-func), border-color var(--trans-dur-and-func);
  }

  .close-btn:is(:hover, :focus) {
    background-color: var(--accent-color);
    color: var(--white-color);
    border-color: var(--accent-color);
  }

  .close-btn-icon {
    fill: currentColor;
  }

/* ----------Modal Form---------- */

.modal-text {
font-weight: 500;
text-align: center;

color: var(--title-text-color-and-background);

margin-bottom: 16px;
}

.modal-form {
display: flex;
flex-direction: column;
}

.modal-form-field {
  margin-bottom: 8px;
}

.modal-form-input-desc {
display: block;

font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;

margin-bottom: 4px;

color: var(--color-light-slate);
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 38px;

  transition: border-color var(--trans-dur-and-func);
}

.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  transition: fill var(--trans-dur-and-func);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--secondary-text-color);
}

.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--secondary-text-color);
}

.modal-form-input-wrapper {
  display: block;
position: relative;
}

.modal-form-message {
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  padding: 8px 16px;

  transition: border-color var(--trans-dur-and-func);
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--secondary-text-color);
}

.modal-form-message::placeholder {
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;

color: rgba(117, 117, 117, 0.5);
}

.modal-form-check-desc {
  display: flex;
  align-items: center;

  margin-bottom: 24px;

font-size: 8px;
line-height: 1.17;
letter-spacing: 0.04em;

color: #757575;
}

.modal-form-check-desc::before {
  display: block;
  content: "";
  cursor: pointer;

  margin-right: 8px;

width: 16px;
height: 16px;
border: 1.25px solid var(--title-text-color-and-background);
border-radius: 2px;
}

.modal-form-check:checked + .modal-form-check-desc::before {
  background-color: var(--accent-color);
  border-color: var(--accent-color);

  background-image: url(../images/check.svg);
  background-size: 10px 8px;
  background-repeat: no-repeat;
  background-position: center;
}

.modal-form-check:focus + .modal-form-check-desc::before {
outline: none;
border-color: var(--accent-color);
}

.modal-form-submit {
  font-family: inherit;
  letter-spacing: 0.04em;
 
  cursor: pointer;
  align-self: center;

  width: 169px;
  height: 56px;

  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  background-color: var(--secondary-text-color);
  color: var(--white-color);

  transition: background-color var(--trans-dur-and-func);
}

.modal-form-submit:hover,
.modal-form-submit:focus {
  background-color: var(--accent-color);
}

.modal-form-policy {
  color: var(--secondary-text-color);
}
}

/* ---------- MOBILE MENU ---------- */

@media screen and (max-width: 767px) {

.menu-toggle {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.mobile-container {
  position: relative;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 1000;

  background-color: var(--white-color);

  transform: translateX(100%);
  transition: transform var(--trans-dur-and-func);
}

.menu-container.is-open {
  transform: translateX(0);
}

.mobile-menu {
  display: flex;
  flex-direction: column;
 
  height: 100vh;

  padding-top: 80px;
  padding-bottom: 40px;
}

.mobile-menu-item {
  margin-bottom: 40px;
}

.contacts-and-social {
  display: flex;
  flex-direction: column;
  gap: 48px;

  margin-top: auto;
}

.mobile-tel {
  margin-bottom: 40px;
}

.mobile-menu-catalog {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
}

.mobile-menu-link {
  color: var(--title-text-color-and-background);
}

.mobile-menu-link-contacts {
  color: var(--accent-color);
}

.mobile-social-list {
  display: flex;
  justify-content: space-between;
}

.contact-tel {
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  line-height: 1.11;

  color: var(--secondary-text-color)
}

.contact-mail {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  color: var(--primary-text-color);
}
}